*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 100%;
background-color : white;

}
header {
	display:flex;
	width :100%;
	flex-direction :row;
	justify-content : space-between;
	flex-wrap: no-wrap;
  border: 3px solid green;
  text-align: center;
  line-height: 100px;
  height: 100px;
 background-color:blue;
 padding :5px;
}
a:link {
      text-decoration: none;
	  color : white;
	  /*background-color :black;*/
}

a:visited {
      text-decoration: none;
	  color : white;
}

a:hover {
      text-decoration: none;
	  color :black;
	 /* background-color :white;*/
}

a:active {
      text-decoration: none;
}

 
  main {
  display:flex;
	width :100%;
	height :auto;
	flex-direction :row;
	justify-content : space-between;
	flex-wrap: no-wrap;
	
	color: black;
	margin-top:10px;
  }
  
  article {
 height :100%;
 width :78%;
 /*background-color :grey; */
 padding :15px;
 
  }
  aside {
 width :18%;
 height :100%;
 text-decoration: none;
 background-color:orange;
 padding :15px;
 }
  aside a{
  list-style-type: none;
  }
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1 {
color : purple;
}
 
h2{
color :green;
text-align :center;	
	
}
 h3 {
  color : red;
  }
h4 {
color : green;
}  
  p {
 border-radius :5px;
 background-color :black;
 margin-top :3px;
 color :white;
 padding :3px;
  }
  
  
  img {
  border-radius :10px;
  }
 
 
 
  footer{
  display:flex;
	width :100%;
	
	flex-direction :row;
	justify-content : space-around;
	/*flex-wrap: no-wrap;*/
	background-color :black;
	color: white;
	/*margin-top:10px;*/
	text-align: center;
  line-height: 100px;
  height: 100px;
  }
  
  footer img {
	
	  
  width :80px;
  height :80px;
  border-radius :50px;
  }
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }